html,
body,
main,
section,
header,
ul,
p,
h1,
h2,
h3 {
  font-family: {
      {
        {
        fontList 'default'
      }
    }
  }

  ;
  font-size: 12px;
  margin: 0;
  padding: 0;
  display: block;
}

a {
  color: #0064BD;
  text-decoration: none;
}

a:visited {
  color: #7B0796;
}

a:hover {
  text-decoration: underline;
}

h2 {
  text-transform: uppercase;
  font-size: 14px;
}

h3 {
  font-size: 13px;
}

hr {
  border: none;
  border-top: 1px solid #B3B3B3;
  margin-top: 10px;
  margin-bottom: 10px;
}

main {
  padding: 15px;
  max-width: 82%;
  margin: 0 auto;
}

section {
  margin-top: 1em;
}

li {
  margin-left: 2em;
}

h3 {
  margin-top: 1em;
}

p,
li {
  text-align: justify;
}

.description {
  margin-bottom: .5em;
}

.projects {
  text-align: left;
}

.tenure {
  float: right;
}

thead {
  display: none;
}

main>header {
  width: 100%;
  float: left;
  margin-bottom: 0;
  position: relative;
}


main>header>h1 {
  float: left;
  font-size: 1.6em;
  text-transform: uppercase;
  line-height: 1;
  clear: left;
}

main>header>span {
  float: left;
  font-size: 14px;
  clear: left;
  margin-top: 2px;
  margin-left: 2px;
}

h3 {
  display: inline-block;
  line-height: 1;
}

#contact {
  float: right;
  position: absolute;
  right: 0;
  bottom: 0;
  overflow: auto;
}

#contact>div {
  margin-left: 5px;
  float: right;
  clear: right;
}

h2>span.fa {
  text-align: left;
  margin-right: 3px;
}

img {
  height: 60px;
  display: inline-block;
}

.logos {
  align-content: center;
  text-align: center;
}

.highlights-title {
  display: block;
}

#summary {
  overflow: auto;
  gap: 10px;
  margin-top: 2.5em !important;
}

#summary .text {
  float: left;
  width: 90%;
  margin-top: 10px;
}

#summary .qr {
  height: 55px;
  margin: 0px 0px 5px 0px;
  float: right;
}

.skills-table {
  margin-top: 0.6em;
}

.employment-right {
  float: right;
  clear: right;
}

.employment-right-container {
  margin-top: 10px;
  width: 25%;
}

.employment-left-container {
  width: 70%;
}

.work-summary {
  width: 85%;
}

.work-highlights {
  width: 85%;
}

.employment-projects {
  width: 85%;
}

.keywords {
  width: 85%;
}

.education-date {
  margin-top: 10px;
}

.eductation-container {
  margin-bottom: 10px;
}

.projects-title {
  width: 85%;
}

.first-seperator {
  margin-top: 0px;
}