{{#has 'info.brief'}}
<hr>
<section id="summary">
    <div class="text">
        {{#> header-info }}
        {{> header-icon _title="About" _section="info" _hdricon=(lookup . '_icon') }}
        {{/header-info}}
        {{#> body-info }}
        {{{ r.info.brief }}}
        {{/body-info}}
    </div>
    <img class="qr" src="https://cv.cdesarmeaux.com/images/qr_code.png" />
</section>
{{/has}}