{{#section "interests"}}
<hr>
<section id="interests">
  {{#> header-interests }}
    {{> header-icon _title="INTERESTS" _section="interests" _hdricon=(lookup . '_icon') }}
  {{/header-interests}}
  <center>
  {{#each r.interests}}
    {{#> body-interests }}
    | <em>{{{ name }}}</em> |
    {{/body-interests}}
  {{/each}}
  </center>
</section>
{{/section}}
