{{#if projects}}
<p class="projects employment-projects">
  <b>Projects:</b>
  {{#each projects}}
  {{{ name }}}{{#if customer}}(<i>{{customer}}</i>){{/if}}{{#unless @last}}, {{/unless}}
  {{/each}}
</p>
{{/if}}